body {
  background: pink;
}

a.active {
  color: red;
}

.vertical-center {
  height: 100%;
  width: 100%;
  text-align: center;
  font: 0/0 a;
}
.vertical-center > .container {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.vertical-center:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

