title Cannabis Instant Search
link(rel='stylesheet', href='/public/styles.css')
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
body
  script(src='/public/bundle.js')

